body{
    background-color: antiquewhite;
    margin: 0;
}
header{
    background-color: white;
    max-width: auto;
    max-height: 8em;
    
}
#headerLogo{
    max-height: inherit;
    margin-left: 1em;

}